<div class="main">
  <p class="err">{{error}}</p>
  <div class="shop_top">
    <div class="container">
      <div class= "Ptitle">
        <br>
        <h1>Products</h1>
        <h2>Click a product below to see more</h2>
        <br>
      </div>
      <div class="row shop_box-top">
        {{#each products}}
          <div class="col-md-3 shop_box" style="margin-top: 30px;">
            <a href="/products/{{this._id}}">
              <img
                src="{{this.productPicture}}"
                class="img-responsive"
                alt="Product"
              />
            </a>  
              <div class="shop_desc">
                <h3>
                  <a href="/products/{{this._id}}">
                    {{this.productName}}
                  </a>
                </h3>
                <p>{{this.brand}}</p>
                <ul class="buttons">
                  <li><span class="actual">${{this.price}}</span></li>               
                    <div>
                  <li class="shop_btn">{{this.likes.length}} <i class="fa fa-heart red-color"></i>
                       </li>
                  <li class="shop_btn">
                    </div>
                    <br>
                       <div>  
                     <span class="float-right"><i
                        class="text-warning fa fa-star"
                      ></i></span>
                    <span class="float-right"><i
                        class="text-warning fa fa-star"
                      ></i></span>
                    <span class="float-right"><i
                        class="text-warning fa fa-star"
                      ></i></span>
                    <span class="float-right"><i class="rating"><strong
                        >{{this.overallRating}}      </strong></i>
                      <i class="text-warning fa fa-star"></i></span> 
                    
                    </div>
                 
                  </li>
                  <!--<div class="clear"> </div>-->
                </ul>
              </div>
          </div>
        {{/each}}
        <p class="text-center">
          <br>
          <br>
          
          <a href="products/add">
            Don't see the product you're looking for? Click Here
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
